node_modules/
.expo/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
*.js.bundle
.env
.env.*
!.env.example
.DS_Store

# iOS
ios/Pods/
ios/build/
ios/Index/
ios/DerivedData/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate
ios/.symlinks
ios/Pods

# Android
android/.idea
android/.gradle
android/local.properties
android/build/
android/app/build/
android/app/src/main/assets/
*.apk
*.aab
*.keystore

# Vendor
vendor/
